body {
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel {
    width: 400px;
    background-color: #333;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 10px;
    color: #fff;
}

.estilosInput{
    width: 380px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #444;
    color: #fff;
}

.btnestilo{
    width: 100%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #337ab7;
    color: #fff;
    cursor: pointer;
}

